body {
  min-height: 2000px;
  padding-top: 70px;
}


.bs-sidebar.affix {
  top: 25px;
}

@media (min-width: 768px) {
  .bs-sidebar.affix {
    width: 158px;
    top: 100px;
  }
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
    width: 213px;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
    width: 263px;
  }
}

.vpnlist{
    cursor: default;
} 