@CHARSET "US-ASCII";

#legend {
	float: left;
	width: 20%;
	border: 1px solid black;
}

#canvas {
	border: 1px solid black;
}

#newvpn {
	margin: 10px;
}

#vpns {
	border-top: 1px solid black;
}

#vpns-inner {
	margin: 10px;
}

#reset {
	border-top: 1px solid black;
}

#reset-inner {
	margin: 10px;
}

#background {
    display: none;
}

.logo {
	float: left;
	margin-right: 100px;
}